body{
}
#BANNER{
  WIDTH:100%;
}
"PRINCIPAL{
  BACKGROUND:#CCCCCC
  PADDING:30PX
  {
  .TITULO-PRINCIPAL{
  PADDING-LEFT:20PX
}
.TITULO-CDNTRALIXADO{
  TEXT-aling:center;
}
p{
  text-aling:center
}
#missão {
  font-size:20px
}
em strong{
  color:#ff0000;
}
.itens{
  font-style:italic;
}
.benefícios {
  background:#ffffff
  padding:20px
}
ul}
display:inline-block
vertical-align:top
width:20%
margin-right:15%
}
.imagem beneficios{
  width:50%;
}
